@import "tailwindcss";

body {
    @apply w-screen h-screen;
    overflow: hidden;
}

.ant-upload-drag-container .tree-indent-unit {
    position: relative;
    height: 100%;
}

.ant-upload-drag-container .tree-indent-unit::before {
    position: absolute;
    top: 0;
    inset-inline-end: 12px;
    bottom: -4px;
    border-inline-end: 1px dashed #b7b7b7;
    content: "";
}

.hit {
    background: #ff9632;
    color: black;
}

.string {
    color: #0b7500;
}

.null, .boolean {
    color: #ff6b00;
}

.number {
    color: #1a01cc;
}



